{% extends "base.html" %}
{% load i18n %}

{% block headtitle %}About - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}
{% load custom_filters %}
<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
{% get_current_language as LANGUAGE_CODE %}

<div class="custom-page-wrapper">
	{% comment %}<h2>{{ "About" | custom_translate:LANGUAGE_CODE}}</h2>{% endcomment %}
	<h2>YashuFlix</h2>
	<hr/>

    <p>Hi! 👋<br>
    This site is dedicated to hosting and showcasing my personal re-released videos — refreshed, remastered, or simply re-shared versions of content I've made over time.</p>

    <p>Whether you're revisiting an old favorite or discovering it for the first time, I hope you enjoy these updated versions as much as I enjoyed creating them.</p>

    <p>
    Thanks for watching — and stay tuned for more re-releases coming soon! 🚀</p>
</div>

{% endblock %}
